.sam-header {
    width: 100%;
}

.sam-container {
    margin: auto;
}

.sam-first {
    width: 20%;
    float: left;
    display: block;
}

.sam-second {
    width: 80%;
    float: left;
    display: block;
}

.sam-clear {
    clear: both;
}

img#sam-cv-person {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


figure figcaption {
    font-size: 0.7em;
    text-align: right;
    color: gray;
}

figure img {
    margin: 20px 0;
}

figure title {
    font-size: 0.8em;
    text-align: center;
}

.site-title#en {
    margin: 0 0 0 10px;
}

pre {
    background: #fdf6e3;
}
