.sam-header {
    width: 100%;
}

.sam-container {
    margin: auto;
}

.sam-first {
    width: 20%;
    float: left;
    display: block;
}

.sam-second {
    width: 80%;
    float: left;
    display: block;
}

.sam-clear {
    clear: both;
}

img#sam-cv-person {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


figure figcaption {
    font-family: "PT Sans", sans-serif;
    font-size: 0.7em;
    text-align: right;
    color: gray;
}

figure img {
    margin: 20px 0;
}

figure title {
    font-size: 0.8em;
    text-align: center;
}

.site-title#en {
    margin: 0 0 0 10px;
}

pre {
    background: #fdf6e3;
}

table {
    font-size: 15px;
    font-family: "PT Sans", sans-serif;
}

thead {
    font-size: 18px;
}

.post-stub-date {
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    color: gray;
}

#fr-button {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

p.summary {
    font-family: "PT Serif", serif;
    font-size: 14px;
    margin-bottom: 5px;
}

h2#tag-browser {
    margin-bottom: 1px;
}

a.post-taxonomy-tag {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
}

a#tag-read-more {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    text-align: right;
}
